<!--users show 左側部分-->
<div class="container px-5 px-sm-0">
 <div class="row">    
    
    <div class="col-md-3">
      <%= render 'list', book: @book_new %>
    </div>

<!--users show 右側部分-->
<div class="col-md-8 offset-md-1">
<h3>Books</h3>
<table class="table table-hover table-inverse">
    <thead>
    <tr>
      <th><strong>Title</strong></th>
      <th><strong>Opinion</strong></th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
        <% @user.books.each do |book| %>
            <tr>
                <td>
                   <%= image_tag @user.get_profile_image(100,100) %>
                </td>
                <td>
                   <%= link_to book_path(book.id) do %>
                   <%= book.title %>
                   <% end %>
                </td>
                <td>
                   <%= book.body  %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
    
  </div>
 </div>    
</div>




